# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# build
**__pycache__

# pytest
.pytest*

# LLM used for POC
models
vectorstore
documents

# editor settings
.vscode